<footer>
        <br><br><br>
        <div class="footer-links">
            <a href="https://github.com/Morakinyo-Joseph" target="_blank"><i class="fa-brands fa-github fa-xl"></i>Github</a>
            <a href="https://www.linkedin.com/in/joseph-morakinyo-96588023a/" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i>LinkedIn</a>
            <a href="https://www.instagram.com/m.o.r.a.k.s/" target="_blank"><i class="fa-brands fa-instagram-square fa-xl"></i>Instagram</a>
            <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter-square fa-xl"></i>Twitter</a>
        </div>
</footer>